.Person{  
  margin: 2px;
  width: 20%;
  height: 50%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  display: inline-block;
  text-align: center;
  padding: 12px;
  transition: 0.3s;
  overflow: hidden;
}
.Person:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.Person input{
  width: 40%;
  padding: 2px 16px;
}